.ant-btn-primary {
	background: #0055a4;
	transition: opacity 0.5s;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active,
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
	background: #0055a4;
}

.ant-btn-primary:hover {
	opacity: 0.7;
}

.ant-btn-primary:active {
	opacity: 0.3;
}
