.root {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
}

.title {
	font-size: 42px;

	.smile {
		font-size: 64px;
		margin: 10px;
	}
}

.description {
	font-size: 24px;
}
