.alert {
	border: 1px solid transparent;
	border-radius: 6px;
	padding: 16px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}

.alert--success {
	background: rgb(63 215 37 / 10%);
	color: green;
}

.alert--error {
	background: rgba(242, 136, 61, 0.1);
	color: #f2883d;
}

.alert--progress {
	background: rgb(26 128 217 / 60%);
	color: blue;
}

.alert--disabled {
	background: rgb(239 239 239 / 10%);
	color: #000;
}

@keyframes loaderAnimation {
	0% {
		background-color: #775ce5;
	}
	50% {
		background-color: #f84147;
	}
	100% {
		background-color: #775ce5;
	}
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #775ce5;
	animation: loaderAnimation 2s linear infinite;
	z-index: 9999;
}

.skeleton {
	display: grid;
	grid-template-rows: repeat(3, 48px);
	gap: 16px;
}

.skeleton__item {
	border: 1px solid transparent;
	border-radius: 6px;
	animation: skeletonAnimation 1s infinite alternate;
}

@keyframes skeletonAnimation {
	from {
		background-color: rgba(150, 150, 150, 0.05);
	}
	to {
		background-color: rgba(100, 100, 100, 0.15);
	}
}
