.divider {
	border-top: 1px solid #e9e8eb;
	display: block;
	margin: 0 20px;
	margin-bottom: 20px;
}

.divider__transaction {
	border-top: 1px solid #e9e8eb;
	display: block;
	margin: 0 20px;
	width: 100%;
}
